<h1>Students#edit</h1>
<p>Find me in app/views/students/edit.html.erb</p>
<% if @student.image? %>
  <%= image_tag @student.image.url, class: "box-img" %>
<% else %>
   <%= image_tag "m_20190312184.jpg", class: "box-img" %>
<% end %>

<%= form_for @student do |f| %>
    <div class="form-group">
        <%= f.file_field :image, class: "form-control" %>
    </div>
    <%= f.hidden_field :full_name, value: @student.full_name %>
    <%= f.hidden_field :nickname, value: @student.nickname %>
    <%= f.submit "送信", class: "btn btn-outline-success" %>
<% end %>
