
<div class="topics-wrapper">
    <h1>Topics</h1>
    <div class="list-wrapper">
        <div class="kawai topic-list">
            <h3>河合塾</h3>
            <hr></hr>
            <div class="card-wrapper">
                <% @kawai_topics.each do |t| %>
                    <div class="topic-card">
                        <a href=https://www.keinet.ne.jp<%=t.link_url%>><%= t.title %></a>
                    </div>
                <% end %>
            </div>
            <hr></hr>
        </div>
        <div class="sundai topic-list">
            <h3 class="sundai-c">駿台</h3>
            <hr></hr>
            <div class="card-wrapper">
                <% @sundai_topics.each do |t| %>
                    <div class="topic-card">
                        <a href="<%=t.link_url%>" class="sundai-c"><%= t.title %></a>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="tousin topic-list">
            <h3 class="tousin-c">東進</h3>
            <hr></hr>
            <div class="card-wrapper">
                <% @tousin_topics.each do |t| %>
                    <div class="topic-card">
                        <a href="<%=t.link_url%>" class="tousin-c"><%= t.title %></a>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>



