<h1>Topics#index</h1>
<p>Find me in app/views/topics/index.html.erb</p>
<p>https://www.keinet.ne.jp/exam/topic/20/20200402.pdf</p>
<%= @results.length %>
<% @results.each do |ele| %>
    <% if ele.site_name == "河合塾" %>
        <a href="https://www.keinet.ne.jp<%=ele.link_url%>"><%= ele.title %></a>
    <% else %>
        <a href="<%=ele.link_url%>"><%= ele.title %></a>
    <% end %>
    <br></br>
<% end %>






<% if false %>
河合塾
<% @results.each do |ele| %>
    <a href="https://www.keinet.ne.jp<%=ele.link_url%>"><%= ele.title %></a>
    <hr>
<% end %>
<% end %>



