<div class = "chat-body">
  <div class = "chat-container">
    <div class = "search-container">
      <input type="text" placeholder="Search" >
    </div>
    <div class = "conversation-list">
      <div class = "conversation active">
        <%= image_tag '805739.JPG', class:"" %>
        <div class="title-text">
          HIROHARU
        </div>
        <div class="created-date">
          Apr 16
        </div>
        <div class="conversation-message">
          This is a message
        </div>
      </div>
      <div class = "conversation">
        <%= image_tag 'm_20190312184.jpg', class:"" %>
        <div class="title-text">
          ピエール滝
        </div>
        <div class="created-date">
          Apr 18
        </div>
        <div class="conversation-message">
          This is a message
        </div>
      </div>
    </div>
    
    <div class = "new-message-container">
      <a href="#">+</a>
    </div>
    <div class = "chat-title">
      <span>HIROHARU</span>
    </div>
    
    
    <div class = "chat-message-list">
      <div class="message-row you-message">
        <div class="message-content">
          <div class="message-text">Sure</div>
          <div class="message-item">Apr 16</div>
        </div>
      </div>
      <div class="message-row other-message">
        <div class="message-content">
          <%= image_tag '805739.JPG', class:"" %>
          <div class="message-text">Thanks.man I think it's the best way.</div>
          <div class="message-item">Apr 16</div>
        </div>
      </div>
      <div class="message-row you-message">
        <div class="message-content">
          <div class="message-text">I think so.</div>
          <div class="message-item">Apr 16</div>
        </div>
      </div>
      <div class="message-row other-message">
        <div class="message-content">
          <%= image_tag '805739.JPG', class:"" %>
          <div class="message-text">Do you have idea else</div>
          <div class="message-item">Apr 16</div>
        </div>
      </div>
      <div class="message-row you-message">
        <div class="message-content">
          <div class="message-text">No</div>
          <div class="message-item">Apr 16</div>
        </div>
      </div>
      <div class="message-row other-message">
        <div class="message-content">
          <%= image_tag '805739.JPG', class:"" %>
          <div class="message-text">Ok then</div>
          <div class="message-item">Apr 16</div>
        </div>
      </div>
    </div>
      
    <div class = "chat-form">
      <input type="text" placeholder="type a message">
    </div>
    
  </div>
</div>    
    <h2>生徒一覧</h2>
    <% @teacher.students.each do |s| %>
      <h3><%= s.full_name %> 君</h3>
    <% end %>
    
    <hr>
    <% if @teacher.messages.present? %>
      <% @teacher.messages.each do |m| %>
        <strong><%= m.content %></strong>
        <small>by <%= m.student.full_name %>さん</small>
        <hr>
      <% end %>
    <% else %>
      <h3 class="text-center">メッセージはまだありません</h3>
    <% end %>
    
    <h2>送信履歴</h2>
    
    
    <%= form_for @message do |f| %>
      <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
    
      <%= f.submit "投稿する" %>
    <% end %>

