<section class="com_index_wrapper">
    <div class="com_index_card_wrapper">
        <% if @coms.present? %>
        
        <% @coms.each do |com| %>
            <div class="com_index_card">
                <% if com.image? %>
                  <%= image_tag com.image.url %>
                <% else %>
                  <%= image_tag "1.jpg" %>
                <% end %>
                <p class="com_title"><%= com.name %></p>
                <div class="com_detail">
                    <p class="com_intro"><%= com.introduction %></p>
                </div>
                <div class="action">
                    <div class="icon info"><a href="/communities/<%= com.id %>"><i class="fas fa-info"></i></a></div>
                    <div class="icon plus"><i class="fas fa-plus"></i></div>
                    <div class="icon users"><i class="fas fa-users"></i></div>
                </div>
            </div>
        <% end %>

        <% end %>
    </div>
</section>